{% extends 'askmeapp/base.html' %}
{% load boost %}
{% block content %}


<!--Start of All Questions-->
<div style="background: #A0E4CB" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
            <br><br><br>
            <div class="accordion" id="accordion-4">
                <br>
                <h2 class="text-center">All Questions</h2>

                {% for question, letter in allquestions|zip:letter_list %}
                {% if question.datecompleted %}
                <div class="card">
                <div class="card-header" id="header-4{{ letter }}">
                    <button class="btn btn-link" type="button"
                        data-toggle="collapse" data-target="#card-4{{ letter }}"
                        aria-expanded="true" aria-controls="card-4{{ letter }}">
                        <li>{{ question.title }}</li>
                    </button>
                </div>
                <div id="card-4{{ letter }}" class="collapse"
                    aria-labelledby="header-4{{ letter }}" data-parent="#accordion-4">
                    <div class="card-body">
                    {{ question.answer }}
                    </div>
                </div>
                </div>
                {% endif %}
                {% endfor %}             
            </div>
            
            <br>

            <div class="text-center">
            {% if allquestions.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ allquestions.previous_page_number }}">Previous</a>
            {% endif %}

            Page: {{ allquestions.number }} of {{ allquestions.paginator.num_pages }}

            {% if allquestions.has_next %}
            <a href="?page={{ allquestions.next_page_number }}">Next</a>
            <a href="?page={{ allquestions.paginator.num_pages }}">Last</a>
            {% endif %}


            <form action="" method="GET">
                <input type="search" name="question_names">
                <button type="submit">Search</button>
            </form>
            <br>       
            <p class="text-center"><a class="btn btn-warning" href="{% url 'askquestion' %}" role="button">Ask Questions &raquo;</a></p>
            </div>
            </div>



        </div>
    </div>
</div>
<!--End of All Questions-->


{% endblock %}


