dj-database-url==1.2.0
Django==4.1.1
django-boost==2.1
django-cors-headers==3.13.0
django-embed-video==1.4.7
django-heroku==0.3.1
djangorestframework==3.14.0

Pillow==9.0.1

psycopg2-binary==2.8.6

PyDispatcher==2.0.5

sqlparse==0.4.3
virtualenv==20.17.0

whitenoise==6.2.0
gunicorn

